<%= simple_form_for(@album) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :release_date %>
    <%= f.input :info %>
    <%= f.input :buy_link %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
